In [2]:
import pandas as pd

In [6]:
columns = ['ID','Region','Territory','Pricing, Delivery_Terms_Quote_Appr','Pricing, Delivery_Terms_Approved',
            'Bureaucratic_Code_0_Approval','Bureaucratic_Code_0_Approved','Submitted_for_Approval','Bureaucratic_Code',
          'Account_Created_Date','Billing_Country','Account_Name','Opportunity_Name','Opportunity_ID'] 
df = pd.read_csv('Entrenamieto_ECI_2020.csv',usecols=columns)
df

,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Bureaucratic_Code,Account_Created_Date,Billing_Country,Account_Name,Opportunity_Name,Opportunity_ID
0,27761,EMEA,None,1,1,1,1,0,Bureaucratic_Code_4,6/16/2015,Netherlands,Account_Name_619,Opportunity_Name_12598,0
1,27760,EMEA,None,0,0,0,0,0,Bureaucratic_Code_4,6/16/2015,Netherlands,Account_Name_619,Opportunity_Name_12600,1
2,27446,Americas,NW America,0,0,0,0,0,Bureaucratic_Code_4,4/21/2015,United States,Account_Name_1794,Opportunity_Name_469,2
3,16808,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,7/27/2013,United States,Account_Name_1201,Opportunity_Name_415,3
4,16805,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,7/27/2013,United States,Account_Name_1201,Opportunity_Name_851,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16942,8781,EMEA,Austria,1,1,1,1,0,Bureaucratic_Code_4,1/15/2016,Austria,Account_Name_726,Opportunity_Name_9245,12801
16943,8786,EMEA,Austria,1,1,1,1,0,Bureaucratic_Code_4,1/15/2016,Austria,Account_Name_726,Opportunity_Name_9245,12801
16944,8792,EMEA,Austria,1,1,1,1,0,Bureaucratic_Code_4,1/15/2016,Austria,Account_Name_726,Opportunity_Name_9245,12801
16945,28561,Americas,NE America,1,1,1,1,0,Bureaucratic_Code_4,10/20/2015,United States,Account_Name_944,Opportunity_Name_5843,12802
16946,28318,Americas,NE America,1,1,1,1,0,Bureaucratic_Code_4,9/3/2015,United States,Account_Name_1401,Opportunity_Name_9911,12803

In [7]:
df.describe()

,ID,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Opportunity_ID
count,16947.000000,16947.000000,16947.000000,16947.000000,16947.000000,16947.0,16947.000000
mean,17666.650440,0.807990,0.583584,0.475482,0.318876,0.0,5335.940225
std,6940.859372,0.393893,0.492979,0.499413,0.466055,0.0,3324.723809
min,4854.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
25%,11953.000000,1.000000,0.000000,0.000000,0.000000,0.0,2448.500000
50%,18114.000000,1.000000,1.000000,0.000000,0.000000,0.0,5306.000000
75%,23845.500000,1.000000,1.000000,1.000000,1.000000,0.0,7698.000000
max,28773.000000,1.000000,1.000000,1.000000,1.000000,0.0,12803.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16947 entries, 0 to 16946
Data columns (total 14 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ID                                  16947 non-null  int64
 1   Region                              16947 non-null  object
 2   Territory                           16947 non-null  object
 3   Pricing, Delivery_Terms_Quote_Appr  16947 non-null  int64
 4   Pricing, Delivery_Terms_Approved    16947 non-null  int64
 5   Bureaucratic_Code_0_Approval        16947 non-null  int64
 6   Bureaucratic_Code_0_Approved        16947 non-null  int64
 7   Submitted_for_Approval              16947 non-null  int64
 8   Bureaucratic_Code                   16947 non-null  object
 9   Account_Created_Date                16947 non-null  object
 10  Billing_Country                     16947 non-null  object
 11  Account_Name                        16947 non-null  object
 12  Opportunity_Name                    16947 non-null  object
 13  Opportunity_ID                      16947 non-null  int64
dtypes: int64(7), object(7)
memory usage: 1.8+ MB