# Pruebas
## *by Euge*
### ahrex

In [60]:
import pandas as pd

Levantamos el dataset

In [61]:
df = pd.read_csv("train.csv")

In [62]:
df

,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Bureaucratic_Code,Account_Created_Date,...,Delivery_Quarter,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A
0,27761,EMEA,None,1,1,1,1,0,Bureaucratic_Code_4,6/16/2015,...,Q2,2016,NaT,10,EUR,5272800.00,EUR,5272800.0,Closed Lost,Prod_Category_A_None
1,27760,EMEA,None,0,0,0,0,0,Bureaucratic_Code_4,6/16/2015,...,Q1,2016,NaT,0,EUR,48230.00,EUR,48230.0,Closed Won,Prod_Category_A_None
2,27446,Americas,NW America,0,0,0,0,0,Bureaucratic_Code_4,4/21/2015,...,Q1,2016,NaT,0,USD,83865.60,USD,83865.6,Closed Won,Prod_Category_A_None
3,16808,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,7/27/2013,...,Q1,2018,NaT,14,USD,7421881.50,USD,7421881.5,Closed Lost,Prod_Category_A_None
4,16805,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,7/27/2013,...,Q1,2018,NaT,25,USD,13357192.50,USD,13357192.5,Closed Lost,Prod_Category_A_None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16942,8781,EMEA,Austria,1,1,1,1,0,Bureaucratic_Code_4,1/15/2016,...,Q1,2016,NaT,0,EUR,103350.00,EUR,299715.0,Closed Won,Prod_Category_A_None
16943,8786,EMEA,Austria,1,1,1,1,0,Bureaucratic_Code_4,1/15/2016,...,Q2,2016,NaT,0,EUR,93015.00,EUR,299715.0,Closed Won,Prod_Category_A_None
16944,8792,EMEA,Austria,1,1,1,1,0,Bureaucratic_Code_4,1/15/2016,...,Q1,2016,NaT,0,EUR,103350.00,EUR,299715.0,Closed Won,Prod_Category_A_None
16945,28561,Americas,NE America,1,1,1,1,0,Bureaucratic_Code_4,10/20/2015,...,Q2,2016,NaT,4,USD,2346796.88,USD,0.0,Closed Lost,Prod_Category_A_None
16946,28318,Americas,NE America,1,1,1,1,0,Bureaucratic_Code_4,9/3/2015,...,Q3,2016,NaT,40,USD,25603200.00,USD,0.0,Closed Lost,Prod_Category_A_None

Veamos si los ID son únicos, así los podemos usar como clave

In [63]:
df["ID"].value_counts()

6141     1
27384    1
21263    1
19212    1
25353    1
        ..
13676    1
28007    1
25958    1
19811    1
8196     1
Name: ID, Length: 16947, dtype: int64

Son únicos porque el mayor es 1. Así que van como clave:

In [64]:
df = df.set_index("ID")
df

,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Bureaucratic_Code,Account_Created_Date,Source,...,Delivery_Quarter,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A
ID,,,,,,,,,,,,,,,,,,,,,
27761,EMEA,None,1,1,1,1,0,Bureaucratic_Code_4,6/16/2015,None,...,Q2,2016,NaT,10,EUR,5272800.00,EUR,5272800.0,Closed Lost,Prod_Category_A_None
27760,EMEA,None,0,0,0,0,0,Bureaucratic_Code_4,6/16/2015,None,...,Q1,2016,NaT,0,EUR,48230.00,EUR,48230.0,Closed Won,Prod_Category_A_None
27446,Americas,NW America,0,0,0,0,0,Bureaucratic_Code_4,4/21/2015,Source_7,...,Q1,2016,NaT,0,USD,83865.60,USD,83865.6,Closed Won,Prod_Category_A_None
16808,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,7/27/2013,Source_11,...,Q1,2018,NaT,14,USD,7421881.50,USD,7421881.5,Closed Lost,Prod_Category_A_None
16805,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,7/27/2013,Source_11,...,Q1,2018,NaT,25,USD,13357192.50,USD,13357192.5,Closed Lost,Prod_Category_A_None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8781,EMEA,Austria,1,1,1,1,0,Bureaucratic_Code_4,1/15/2016,Source_7,...,Q1,2016,NaT,0,EUR,103350.00,EUR,299715.0,Closed Won,Prod_Category_A_None
8786,EMEA,Austria,1,1,1,1,0,Bureaucratic_Code_4,1/15/2016,Source_7,...,Q2,2016,NaT,0,EUR,93015.00,EUR,299715.0,Closed Won,Prod_Category_A_None
8792,EMEA,Austria,1,1,1,1,0,Bureaucratic_Code_4,1/15/2016,Source_7,...,Q1,2016,NaT,0,EUR,103350.00,EUR,299715.0,Closed Won,Prod_Category_A_None
28561,Americas,NE America,1,1,1,1,0,Bureaucratic_Code_4,10/20/2015,None,...,Q2,2016,NaT,4,USD,2346796.88,USD,0.0,Closed Lost,Prod_Category_A_None
28318,Americas,NE America,1,1,1,1,0,Bureaucratic_Code_4,9/3/2015,None,...,Q3,2016,NaT,40,USD,25603200.00,USD,0.0,Closed Lost,Prod_Category_A_None

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16947 entries, 27761 to 28318
Data columns (total 51 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Region                              16947 non-null  object
 1   Territory                           16947 non-null  object
 2   Pricing, Delivery_Terms_Quote_Appr  16947 non-null  int64
 3   Pricing, Delivery_Terms_Approved    16947 non-null  int64
 4   Bureaucratic_Code_0_Approval        16947 non-null  int64
 5   Bureaucratic_Code_0_Approved        16947 non-null  int64
 6   Submitted_for_Approval              16947 non-null  int64
 7   Bureaucratic_Code                   16947 non-null  object
 8   Account_Created_Date                16947 non-null  object
 9   Source                              16947 non-null  object
 10  Billing_Country                     16947 non-null  object
 11  Account_Name                        16947 non-null  object
 12  Opportunity_Name                    16947 non-null  object
 13  Opportunity_ID                      16947 non-null  int64
 14  Sales_Contract_No                   16947 non-null  object
 15  Account_Owner                       16947 non-null  object
 16  Opportunity_Owner                   16947 non-null  object
 17  Account_Type                        16947 non-null  object
 18  Opportunity_Type                    16947 non-null  object
 19  Quote_Type                          16947 non-null  object
 20  Delivery_Terms                      16947 non-null  object
 21  Opportunity_Created_Date            16947 non-null  object
 22  Brand                               16947 non-null  object
 23  Product_Type                        16947 non-null  object
 24  Size                                16947 non-null  object
 25  Product_Category_B                  16947 non-null  object
 26  Price                               16947 non-null  object
 27  Currency                            16947 non-null  object
 28  Last_Activity                       16947 non-null  object
 29  Quote_Expiry_Date                   16947 non-null  object
 30  Last_Modified_Date                  16947 non-null  object
 31  Last_Modified_By                    16947 non-null  object
 32  Product_Family                      16947 non-null  object
 33  Product_Name                        16947 non-null  object
 34  ASP_Currency                        16947 non-null  object
 35  ASP                                 13738 non-null  float64
 36  ASP_(converted)_Currency            16947 non-null  object
 37  ASP_(converted)                     13738 non-null  float64
 38  Planned_Delivery_Start_Date         16947 non-null  object
 39  Planned_Delivery_End_Date           16947 non-null  object
 40  Month                               16947 non-null  object
 41  Delivery_Quarter                    16947 non-null  object
 42  Delivery_Year                       16947 non-null  int64
 43  Actual_Delivery_Date                16947 non-null  object
 44  TRF                                 16947 non-null  int64
 45  Total_Amount_Currency               16947 non-null  object
 46  Total_Amount                        16888 non-null  float64
 47  Total_Taxable_Amount_Currency       16947 non-null  object
 48  Total_Taxable_Amount                16947 non-null  float64
 49  Stage                               16947 non-null  object
 50  Prod_Category_A                     16947 non-null  object
dtypes: float64(4), int64(8), object(39)
memory usage: 4.2+ MB

Hay muchas columnas como object que deberían ser date.
Y muchas como int64 que deberían ser bool.
(calculo... Argerich hace cosas raras con 1s y 0s.)
Y muchas como object que deberían ser categorical.

In [118]:
# Las date van directo como lista como parámetro para parse_dates
date_columns = ['Account_Created_Date',
                'Opportunity_Created_Date',
                'Quote_Expiry_Date',
                'Last_Modified_Date',
                'Planned_Delivery_Start_Date',
                'Planned_Delivery_End_Date',
                'Actual_Delivery_Date',
                'Last_Activity']

# El resto va como dict. Las voy sumando de a uno al dict 'types'.
bool_columns = ['Pricing, Delivery_Terms_Quote_Appr',
                'Pricing, Delivery_Terms_Approved',
                'Bureaucratic_Code_0_Approval',
                'Bureaucratic_Code_0_Approved',
                'Submitted_for_Approval']
types = {col:"bool" for col in bool_columns}

# int_columns = ["Sales_Contract_No"]
# types.update({col:"int64" for col in int_columns})

categorical_columns = [
    "Region",
    "Territory",
    "Bureaucratic_Code",
    "Source ",
    "Billing_Country",
    "Account_Name",
    "Opportunity_Name",
    "Account_Owner",
    "Opportunity_Owner",
    "Account_Type",
    "Opportunity_Type",
    "Quote_Type",
    "Delivery_Terms",
    "Brand",
    "Product_Type",
    "Size",
    "Product_Category_B",
    "Currency",
    "Last_Modified_By",
    "Product_Family",
    "Product_Name",
    "ASP_Currency",
    "ASP_(converted)_Currency",
    "Delivery_Quarter",
    "Total_Amount_Currency",
    "Total_Taxable_Amount_Currency",
    "Stage",
    "Prod_Category_A"
]
types.update({col:"category" for col in categorical_columns})

In [121]:
df = pd.read_csv("train.csv", parse_dates=date_columns, index_col="ID",
                 dtype=types)
df["Sales_Contract_No"] = pd.to_numeric("Sales_Contract_No", errors="coerce")
df

,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Bureaucratic_Code,Account_Created_Date,Source,...,Delivery_Quarter,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A
ID,,,,,,,,,,,,,,,,,,,,,
27761,EMEA,None,True,True,True,True,False,Bureaucratic_Code_4,2015-06-16,None,...,Q2,2016,NaT,10,EUR,5272800.00,EUR,5272800.0,Closed Lost,Prod_Category_A_None
27760,EMEA,None,False,False,False,False,False,Bureaucratic_Code_4,2015-06-16,None,...,Q1,2016,NaT,0,EUR,48230.00,EUR,48230.0,Closed Won,Prod_Category_A_None
27446,Americas,NW America,False,False,False,False,False,Bureaucratic_Code_4,2015-04-21,Source_7,...,Q1,2016,NaT,0,USD,83865.60,USD,83865.6,Closed Won,Prod_Category_A_None
16808,Americas,NW America,True,False,True,False,False,Bureaucratic_Code_5,2013-07-27,Source_11,...,Q1,2018,NaT,14,USD,7421881.50,USD,7421881.5,Closed Lost,Prod_Category_A_None
16805,Americas,NW America,True,False,True,False,False,Bureaucratic_Code_5,2013-07-27,Source_11,...,Q1,2018,NaT,25,USD,13357192.50,USD,13357192.5,Closed Lost,Prod_Category_A_None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8781,EMEA,Austria,True,True,True,True,False,Bureaucratic_Code_4,2016-01-15,Source_7,...,Q1,2016,NaT,0,EUR,103350.00,EUR,299715.0,Closed Won,Prod_Category_A_None
8786,EMEA,Austria,True,True,True,True,False,Bureaucratic_Code_4,2016-01-15,Source_7,...,Q2,2016,NaT,0,EUR,93015.00,EUR,299715.0,Closed Won,Prod_Category_A_None
8792,EMEA,Austria,True,True,True,True,False,Bureaucratic_Code_4,2016-01-15,Source_7,...,Q1,2016,NaT,0,EUR,103350.00,EUR,299715.0,Closed Won,Prod_Category_A_None
28561,Americas,NE America,True,True,True,True,False,Bureaucratic_Code_4,2015-10-20,None,...,Q2,2016,NaT,4,USD,2346796.88,USD,0.0,Closed Lost,Prod_Category_A_None
28318,Americas,NE America,True,True,True,True,False,Bureaucratic_Code_4,2015-09-03,None,...,Q3,2016,NaT,40,USD,25603200.00,USD,0.0,Closed Lost,Prod_Category_A_None

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16947 entries, 27761 to 28318
Data columns (total 51 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Region                              16947 non-null  category
 1   Territory                           16947 non-null  category
 2   Pricing, Delivery_Terms_Quote_Appr  16947 non-null  bool
 3   Pricing, Delivery_Terms_Approved    16947 non-null  bool
 4   Bureaucratic_Code_0_Approval        16947 non-null  bool
 5   Bureaucratic_Code_0_Approved        16947 non-null  bool
 6   Submitted_for_Approval              16947 non-null  bool
 7   Bureaucratic_Code                   16947 non-null  category
 8   Account_Created_Date                16947 non-null  datetime64[ns]
 9   Source                              16947 non-null  category
 10  Billing_Country                     16947 non-null  category
 11  Account_Name                        16947 non-null  category
 12  Opportunity_Name                    16947 non-null  category
 13  Opportunity_ID                      16947 non-null  int64
 14  Sales_Contract_No                   0 non-null      float64
 15  Account_Owner                       16947 non-null  category
 16  Opportunity_Owner                   16947 non-null  category
 17  Account_Type                        16947 non-null  category
 18  Opportunity_Type                    16947 non-null  category
 19  Quote_Type                          16947 non-null  category
 20  Delivery_Terms                      16947 non-null  category
 21  Opportunity_Created_Date            16947 non-null  datetime64[ns]
 22  Brand                               16947 non-null  category
 23  Product_Type                        16947 non-null  category
 24  Size                                16947 non-null  category
 25  Product_Category_B                  16947 non-null  category
 26  Price                               16947 non-null  object
 27  Currency                            16947 non-null  category
 28  Last_Activity                       0 non-null      datetime64[ns]
 29  Quote_Expiry_Date                   12322 non-null  datetime64[ns]
 30  Last_Modified_Date                  16947 non-null  datetime64[ns]
 31  Last_Modified_By                    16947 non-null  category
 32  Product_Family                      16947 non-null  category
 33  Product_Name                        16947 non-null  category
 34  ASP_Currency                        16947 non-null  category
 35  ASP                                 13738 non-null  float64
 36  ASP_(converted)_Currency            16947 non-null  category
 37  ASP_(converted)                     13738 non-null  float64
 38  Planned_Delivery_Start_Date         16947 non-null  datetime64[ns]
 39  Planned_Delivery_End_Date           16872 non-null  datetime64[ns]
 40  Month                               16947 non-null  object
 41  Delivery_Quarter                    16947 non-null  category
 42  Delivery_Year                       16947 non-null  int64
 43  Actual_Delivery_Date                0 non-null      datetime64[ns]
 44  TRF                                 16947 non-null  int64
 45  Total_Amount_Currency               16947 non-null  category
 46  Total_Amount                        16888 non-null  float64
 47  Total_Taxable_Amount_Currency       16947 non-null  category
 48  Total_Taxable_Amount                16947 non-null  float64
 49  Stage                               16947 non-null  category
 50  Prod_Category_A                     16947 non-null  category
dtypes: bool(5), category(28), datetime64[ns](8), float64(5), int64(3), object(2)
memory usage: 3.2+ MB